.heading {
    color:  var(--textColor);
    font-weight: bolder;
}

.menu_container {
    height: 25rem;
    width: 30%;
    overflow-y: scroll;
}
@media screen and (min-width:1144px){
    .menu_container {
        width: fit-content;
    }
}

@media screen and (max-width:1144px) {
  
    .menu_container{
        width: 100%;
        padding: 3rem;
        height: fit-content;
        overflow: hidden;
       
    }
   
    
    

}
@media screen and (max-width:570px) {
.menu_container {
    padding: 1rem;

}

.heading {
    margin-block: 2rem;
    font-size: 2rem;
}
}