.container {
  background-color: var(--bg);
  display: flex;
  gap: 1rem;
  padding-block: 3rem;
  padding-inline: 2rem;
}
.wrapper {
   
    width: 70%;
    
    margin-inline: auto;
}


.user {
    width: 14rem;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}
.user img {
    width: 1.6rem;
    height: 1.6rem;
    border: 2px solid var(--textColor);
    border-radius: 50%;
}

.content {
    min-height: 20rem;
}
.content img {
    object-fit: contain;
}

.heading {
    color: var(--textColor);
    
}
.description {
    color: var(--softTextColor);
    font-size: 1rem;
    letter-spacing: 1.5;
   
}

.content img {
   height: 300px;
   width: 300px;
}


.content img {
    float: left;
    margin: 1rem;
    border-radius: 10px;
}


@media  screen and (max-width:1155px) {
    .container {
          flex-direction: column;
          padding: 3rem; 
           
    }
    .wrapper {
        
        width: 100%;
        
    }
   

}
@media  screen and (max-width:400px) {
    .container {
        padding-inline: .5rem;
    }
}
