

.features {
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)),
    url("/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 160%;
  color: var(--textColor);

  gap: 1rem;
  height: 40rem;
}
.heading {
  font-family: var(--font-bebas_neue);
}

@media screen and (max-width:750px) {
  .features {
    background-size: 240%;
    height: 30rem;
  }
}

@media screen and (max-width:400px) {
  .features {
    background-size: 400%;
    height: 30rem;
  }
}